
  .Signin {
    padding: 60px 0;
    background-color: red;
    z-index: 2;
    h3{
      color: aliceblue;
    }
    input {
      cursor:text;
    }
  

  .form-group {
    margin: 0 auto;
    width: 220px;
  }

}