@import "../../global.scss";

.elements {
  margin-right: 50px;
  padding: 7px;
  border: 1px solid lightgreen;
  border-radius: 10px;

  display: flex;
  img {
    height: 150px;
    width: 150px;
    z-index: 1;
    object-fit: cover;
  }
  h3 {
    position: absolute;
    font-size: 20px;
    justify-items: center;
  }

  &.active {
    background-color: $mainColor;
  }

  &:hover {
    background-color: $mainColor;
    cursor: pointer;
    img {
      opacity: 0.6;
      z-index: 0;
    }
  }
}
