/*@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");

.home {
  background-color: red;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;

  :root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
  }

  html {
    font-size: 62.5%;
  }

  ul {
    //
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
*/
