$mainColor: khaki;//#15023a;

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");

* {
  font-weight: 500;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
